body{
    font-family: 'Quicksand', sans-serif;
}
.menu{
    display: flex;
    
}
.logo{
    margin-left: 117px;
    margin-top: 27px; 
    width: 26px;
    height: 26px;
}
.header{
    
}
.header_1{
    text-decoration: none;
    list-style: none;
    display: flex;
    margin-left: 73px;
    margin-top: 33px;
    
}
.header_1 a{
    text-decoration: none;
    margin-left: 42px;
    height: 15px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color:#697CA6;
}
.home{
    color: #3A79FF;
}

.znschki{
    
}
.znachki_1{
    list-style: none;
    display: flex;
    margin-left: 361px;
    margin-top: 32px;
}
.znachki_1 a{
    text-decoration: none;
    margin-left: 37px;
    
}
.bitton_menu{
    margin-left: 60px;
}
.button_menu a{
    text-decoration: none;
    margin-left: 60px;
    margin-top: 32px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
   
    
    
}
.dadada{
    color:#3A79FF;
    width: 113px;
    height: 43px;
    border: 2px;
    background-color: #D2E1FF;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    
}
.chtoto{
    border: 1px solid #D8E3FE;
    width: 1920px;
    height: 0px;
    left: 0px;
    top: 81px;
    background-image: url(img/hero\ image.png);
    background-size: cover;
    height: 760px;
    background-repeat: no-repeat;
}
.plan{
    width: 90px;
    height: 12px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #3D4F9F;
    margin-left: 800px;
    margin-top: 92px;
    
}
.incre{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 60px;
    color: #3D4F9F;
    width: 583px;
    height: 60px;
    margin-left: 580px;

}
.brute{
    margin-left: 580px;
    width: 502px;
    height: 78px;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #8D96BD;
}
.pusk{
    margin-left: 760px;
    
}